footer.footer
    section.footer__content
        img.footer__logo(src='blocks/footer/footer-images/logo.png')
        nav.footer__menu
            a.footer__menu-link(href='#') Stories
            a.footer__menu-link(href='#') Events
            a.footer__menu-link(href='#') Places
            a.footer__menu-link(href='#') Boards
        div.footer__social
            img.footer__social-link.social-link-tumblr(src='blocks/footer/footer-images/footer-icons/tumblr.png')
            img.footer__social-link.social-link-twitter(src='blocks/footer/footer-images/footer-icons/twitter.png')
            img.footer__social-link.social-link-vimeo(src='blocks/footer/footer-images/footer-icons/vimeo.png')