footer.footer
    section.footer__content
        div.footer__content-logo
            img(src='blocks/footer/footer-images/logo.png')
        nav.footer__content-menu
            a.content-menu__item(href='#') Stories
            a.content-menu__item(href='#') Events
            a.content-menu__item(href='#') Places
            a.content-menu__item(href='#') Boards
        div.footer__content-social
            img.content-social__btn.btn-tumblr(src='blocks/footer/footer-images/footer-icons/tumblr.png')
            img.content-social__btn.btn-twitter(src='blocks/footer/footer-images/footer-icons/twitter.png')
            img.content-social__btn.btn-vimeo(src='blocks/footer/footer-images/footer-icons/vimeo.png')