.quote {
  width: 1440px;
  padding-top: 92.5px;
  padding-bottom: 215px;
  margin: 0 auto;
  background-image: repeating-linear-gradient(to right, #fff 0px, #fff 107px, #f5f5f5 107px, #f5f5f5 108px, #fff 108px, #fff 305px); }

.quote__content {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column; }

.quote__text {
  width: 615px;
  margin-left: -5px;
  margin-bottom: 28px;
  font-family: 'Playfair Display-Regular', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.26px;
  text-align: center;
  quotes: none;
  color: #333; }

.quote__author {
  font-family: "League Spartan", sans-serif;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  color: #333; }

.quote__author::after {
  position: absolute;
  top: 146%;
  left: 49.67%;
  content: "";
  width: 1px;
  height: 100px;
  border: 1px solid #5da8ef;
  background-color: #5da8ef; }
