.quote {
  width: 1440px;
  padding-top: 145px;
  padding-bottom: 58px;
  margin: 0 auto;
  background-image: repeating-linear-gradient(to right, #fff 0px, #fff 107px, #f5f5f5 107px, #f5f5f5 108px, #fff 108px, #fff 305px); }

.quote__text {
  width: 615px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-family: 'Playfair Display-Regular', sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.26px;
  color: #333333; }

.quote__author {
  position: relative;
  display: block;
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  color: #333333; }

.quote__text,
.quote__author {
  text-align: center; }
