header.header
    div.header__menu
        img.header__logo(src='blocks/header/header-images/header-logo.png')
        nav.header__nav
            a.header__nav-link(href="#") Stories
            a.header__nav-link(href="#") Events
            a.header__nav-link(href="#") Places
            a.header__nav-link(href="#") Boards
    div.header__content
        div.header__text
            span.header__word_blue Your
            h1.header__title Beautiful Escape
            p.header__quote One of the greatest things about the sport of surfing is that you need only three things: your body,
                br
                | a surfboard, and a wave.
        div.header__slider
            span.header__slider-first-num 1
            span.header__slider-slash /
            | 5
        div.header__image
        div.header__socials
            img.header__social-link.social-link-tumblr(src='blocks/header/header-images/header-icons/tumblr.png')
            img.header__social-link.social-link-twitter(src='blocks/header/header-images/header-icons/twitter.png')
            img.header__social-link.social-link-vimeo(src='blocks/header/header-images/header-icons/vimeo.png')