section.camp
    div.camp__content
        div.camp__image
            img(src='blocks/camp/camp-img/camp-img.png')
        div.camp__contacts
            p.camp__hat Our camp
            p.camp__address CA 91932,
                | USA Imperial Beach
                br
                | 560 Silver Strand Blvd
            button.camp__button Get in touc
                |
                span.camp__button-last-letter h