.header
  max-width: 1440px
  padding-top: 37px
  margin: 0 auto
  background-image: repeating-linear-gradient(to right, #fff 0px, #fff 107px, #f5f5f5 107px, #f5f5f5 108px, #fff 108px, #fff 305px)


.header__logo-and-nav
  max-width: 914px
  margin-left: 107px
  display: flex
  align-items: baseline


.logo
  margin-right: 175px
  width: 16px
  height: 44px


.nav__item
  margin: 0 19.2px
  font-family: 'League Spartan', sans-serif
  font-size: 9px
  font-weight: 700
  text-transform: uppercase
  text-decoration: none
  letter-spacing: 5.58px
  color: #0b0c11


.header__content
  margin-top: 45px
  margin-left: 107px
  font-size: 0


.header__content-text_inline-block
  display: inline-block
  vertical-align: bottom
  position: relative
  max-width: 204px
  z-index: 1


.header__content-text_blue
  display: block
  margin-bottom: 20px
  font-family: 'League Spartan', sans-serif
  font-size: 9px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 5.4px
  color: #5da8ef


.header__content-text-title
  margin-bottom: 18px
  font-family: 'Playfair Display', sans-serif
  font-size: 62px
  white-space: nowrap


.header__content-text-description
  max-width: 400px
  margin-bottom: 180px
  font-family: 'Poppins', sans-serif
  font-size: 14px
  font-weight: 300
  line-height: 24px
  letter-spacing: 0.35px
  color: #8f8f8f


.header__content-slider-items
  font-family: "League Spartan", sans-serif
  font-size: 10px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 4px

.header__content-slider-items::before
  position: relative
  top: 0
  left: 1px
  display: inline-block
  content: ""
  width: 10px
  height: 10px
  transform: rotate(45deg)
  border-left: 2px solid black
  border-bottom: 2px solid black

.header__content-slider-items::after
  position: relative
  top: 0
  display: inline-block
  content: ""
  width: 10px
  height: 10px
  transform: rotate(-45deg)
  border-right: 2px solid black
  border-bottom: 2px solid black


.header__content-image_inline-block
  display: inline-block
  vertical-align: top
  width: 1016px
  height: 572px
  overflow: hidden
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), url("../header-images/header-main-image.jpg") no-repeat
  background-size: cover
  background-position-y: -90px


.header__content-social_inline-block
  display: inline-block
  vertical-align: bottom
  width: 110px
  background-color: rgba(93, 168, 239, 0.55)


.header__content-social-text
  position: relative
  transform: rotate(-90deg)
  transform-origin: 0 0
  font-size: 16px
  white-space: nowrap

.social-buttons
  max-width: 20px
  background-color: rgba(255, 222, 7, 0.63)


.social-btn
  width: 21px
  height: 21px