@font-face {
    font-family: League Spartan;
    src: url("LeagueSpartan/LeagueSpartan-Bold.otf");
}

@font-face {
    font-family: Playfair Display-Bold;
    src: url("Playfair_Display/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: Playfair Display-Black;
    src: url("Playfair_Display/PlayfairDisplay-Black.ttf");
}

@font-face {
    font-family: Playfair Display-Regular;
    src: url("Playfair_Display/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("Poppins/Poppins-Light.ttf");
}