section.surf-training
    div.surf-training__content
        div.surf-training__text-and-button
            span.surf-training__article-number 01
            h2.surf-training__title
                |
                span S
                | urf training
            p.surf-training__article-part.
                By better understanding the various aspects of surfing, By better understanding the various aspects of
                surfing, you will improve faster and have more fun in the water.
            button.surf-training__button Read mor
                |
                span e
        div.surf-training__image