doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='reset/reset.css')
        link(rel='stylesheet' href='blocks/header/header-css/header.css')
        link(rel='stylesheet' href='fonts/fonts.css')
        title Surfing
    body
        header.header.clearfix
            div.header__logo-and-nav
                div.header-logo
                    img(src='blocks/header/header-images/header-logo.png' alt='Oops!')
                nav.header-nav
                    a.header-nav__item(href="#") Stories
                    a.header-nav__item(href="#") Events
                    a.header-nav__item(href="#") Places
                    a.header-nav__item(href="#") Boards
            div.header-content
                div.header-text
                    span.header-text__word_blue Your
                    h1.header-text__title Beautiful Escape
                    p.header-text__description.
                        One of the greatest things about the sport of surfing is that you need only three things:
                        your body, surfboard, and a wave.
                    p.header-text__slider.
                            1/5
                div.header-image
                div.header-socials
                    div.header-social-btn.social-tumblr
                        img(src='blocks/header/header-images/header-icons/tumblr.png')
                    div.header-social-btn.social-twitter
                        img(src='blocks/header/header-images/header-icons/twitter.png')
                    div.header-social-btn.social-vimeo
                        img(src='blocks/header/header-images/header-icons/vimeo.png')