doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='css/reset/reset.css')
        link(rel='stylesheet' href='css/main.css')
        link(rel='stylesheet' href='fonts/fonts.css')
        title Surfing
    body
        include ../blocks/header/header-pug/header.pug
        include ../blocks/quote/quote-pug/quote.pug
        include ../blocks/media/media-pug/media.pug
        include ../blocks/surfboards-shop/surfboards-shop-pug/surfboards-shop.pug
        include ../blocks/articles/articles-pug/articles.pug
        include ../blocks/join-the-club/join-the-club-pug/join-the-club.pug
        include ../blocks/camp/camp-pug/camp.pug
        include ../blocks/footer/footer-pug/footer.pug