doctype html
    html(lang='en')
        head
            meta(charset='UTF-8')
            title Surfing
        body
            header.header
                div.header-logo
                    img(src='../header/header-images/header-logo.png' width='16px' height='44px' alt='Oops!')
                nav.header-nav
                    a.header-nav-item(href=#) Stories
                    a.header-nav-item(href=#) Events
                    a.header-nav-item(href=#) Places
                    a.header-nav-item(href=#) Boards
