doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='css/reset/reset.css')
        link(rel='stylesheet' href='blocks/header/header-css/header.css')
        link(rel='stylesheet' href='blocks/quote/quote-css/quote.css')
        link(rel='stylesheet' href='blocks/footer/footer-css/footer.css')
        link(rel='stylesheet' href='fonts/fonts.css')
        title Surfing
    body
        include ../blocks/header/header-pug/header.pug
        include ../blocks/quote/quote-pug/quote.pug
        include ../blocks/footer/footer-pug/footer.pug